
@{
    ViewBag.Title = "LHL ShowMusic";
}

<h2>LHL_Danh Sách Âm Nhạc</h2>
<style>
    .sentence{
        margin-bottom: 20px;
    }
</style>
<div class="sentence">
    <thead>
        <tr>
            <th><a href="https://on.soundcloud.com/VXSQaUSADaxoTPGSA">Until For You-Remind</a></th>
            @Html.ActionLink("DownLoad", "DownloadMusic", new { })
            <br />
            <th><a href="https://soundcloud.com/phong-linh-du/die-for-you-remind-cover?si=0fb62ef84a63447982714320392aca0a&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">Die For You-Du Phong Linh</a></th>
            @Html.ActionLink("DownLoad", "DownloadMusic", new { })
            <br />
            <th><a href="https://soundcloud.com/phong-linh-du/night-dancer-imase-remind-cover?si=31154ceecce6415a8c57567c7754191d&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">Night Dance-Du Phong Linh</a></th>
            @Html.ActionLink("DownLoad", "DownloadMusic", new { })
            <br />
            <th><a href="https://soundcloud.com/phong-linh-du/sayoko-short-acoustic-cover?si=aad3bf82167844118667fe77ae16e6f1&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">SAYOKO-REMIND COVER</a></th>
            @Html.ActionLink("DownLoad", "DownloadMusic", new { })
            <br />
            <th><a href="https://soundcloud.com/phong-linh-du/king-kanaria-remind-cover?si=0c1d593e077c4cba9c31d3d7895fd290&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">King-Kanaria/Remind Cover</a></th>
            @Html.ActionLink("DownLoad", "DownloadMusic", new { })
            <br />
        </tr>
    </thead>
</div>
